@model letterhead.Models.DeptAssignUser
@{
    ViewBag.Title = "AssignUserDeptAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section">
    <div class="row">

        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Assign Department  Master</h5>
                    <!-- Custom Styled Validation -->
                    @using (Html.BeginForm("AssignUserDeptAdd", "Home", FormMethod.Post, new { @class = "row g-3 needs-validation", @novalidate = "novalidate" }))
                    {
                        <div class="col-md-4">
                            <label class="form-label">User<span style="color:red;">*</span></label>
                            @Html.DropDownListFor(x => x.USERID, ViewBag.user as List<SelectListItem>, "Select User", new { @class = "form-control select2 UserType" })
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Department<span style="color:red;">*</span></label>
                            @Html.DropDownList("DID", ViewBag.dept as List<SelectListItem>, "Select Department", new { @class = "form-control select2 UserType",@onchange = "getSubDept(this)" })
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Sub Department<span style="color:red;">*</span></label>
                            @Html.DropDownListFor(x => x.DEPTID, ViewBag.subdept as List<SelectListItem>, "Select Sub Department", new { @class = "form-control select2 UserType" })
                        </div>

                        <div class="col-md-4">
                            <label for="validationDefault04" class="form-label">Status <span style="color:red;">*</span></label>
                            @Html.DropDownListFor(x => x.IsActive, new List<SelectListItem>
                        {
                           new SelectListItem{Text="Active",Value="true",Selected=true},
                           new SelectListItem{Text="DeActive",Value="false"}
                        }, new { @id = "IsActive", @class = "form-select", @required = "required" })
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary" type="submit">Submit</button>
                            <a class="btn btn-danger" href="@Url.Action("Dashboard","Home")">Cancel</a>
                        </div>
                    }
                    <!-- End Custom Styled Validation -->

                </div>
            </div>

        </div>
    </div>
</section>

<script>
    function getSubDept(item) {
        debugger;
        var bid = $(item).val();

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '/Home/GetDeptBySubDept/',
            data: "{bid:'" + bid + "'}",
            dataType: "json",
            async: true,
            error: function (xhr) {
                debugger;
                alert("Invalid Data");
            },
            success: function (data) {
                console.log(data);
                $('#DEPTID').find('option').remove();
                $('#DEPTID').append('<option value="">Select Sub Dept</option>');
                $.each(data.subdept, function (i, item) {
                    $('#DEPTID').append('<option value=' + item.Value + '>' + item.Text + '</option>');
                });
            }
        });
    }
</script>

