@model letterhead.Models.LatterSPVRequest
@{
    ViewBag.Title = "Performa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section">
    <div class="row">

        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Letter SPV Performa</h5>
                    <!-- Custom Styled Validation -->
                    @*@using (Html.BeginForm("Performa", "Home", FormMethod.Post, new { @class = "row g-3 needs-validation", @novalidate = "novalidate" }))
                        {*@
                    <div class="col-md-12">
                        <label class="form-label">Signature Used</label>
                        @Html.DropDownList("ddl_reportId", ViewBag.ltype as List<SelectListItem>, "Select Type", new { @class = "form-control mb-5 select2 UserType", @onchange = "getVal()" })
                    </div>
                    <div class="col-md-12">
                        @Html.TextAreaFor(x => x.LatterData, new { @id = "idRichTextEditor", @class = "form-control", @required = "required", @rows = "10", @cols = "80" })
                    </div>
                    @Html.HiddenFor(a => a.ID)
                    @Html.HiddenFor(a => a.LATTERNO)
                    @Html.HiddenFor(a => a.REMARK)
                    @Html.HiddenFor(a => a.ISACTIVE)
                    @Html.HiddenFor(a => a.CREATEBY)
                    @Html.HiddenFor(a => a.CRAETEDATE)
                <div class="col-12">
                    @if (Model.StatusId != 4)
                    {
                        <a class="btn btn-primary btnSubmit" onclick="datapreview()">Save Draft</a>
                    }
                    <a class="btn btn-primary btnSubmit" onclick="datasave()">Submit</a>
                    <a class="btn btn-danger" href="@Url.Action("Dashboard","Home")">Cancel</a>
                </div>
                    @*}*@
                    <!-- End Custom Styled Validation -->

                </div>
            </div>

        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
<script>

      function datapreview() {
        debugger;
          var Content = CKEDITOR.instances['idRichTextEditor'].getData();
        var formdata = new FormData();
        formdata.append("latterdata",Content);
        formdata.append("id", @Model.ID);
        debugger;
        $.ajax({
            async: true,
            type: "Post",
            contentType: false,
            data: formdata,
            url: '/Home/PerformaSaveDraft/',
            processData: false,
            contentType: false,
            success: function (data) {
                if (data.success == true) {
                    window.location.href = "/Home/LetterSpvRequest";
                }
                else if (data.success == false) {
                    alert("Error occured..!!")
                }
            },
            error: function () {
                alert("Error occured..!!");
            },
        })
    }


    function datasave() {
        debugger;
          var Content = CKEDITOR.instances['idRichTextEditor'].getData();
        var formdata = new FormData();
        formdata.append("latterdata",Content);
        formdata.append("id", @Model.ID);
        debugger;
        $.ajax({
            async: true,
            type: "Post",
            contentType: false,
            data: formdata,
            url: '/Home/PerformaSPVdata/',
            processData: false,
            contentType: false,
            success: function (data) {
                if (data.success == true) {
                    window.location.href = "/Home/LetterSPVRequest";
                }
                else if (data.success == false) {
                    alert("Error occured..!!")
                }
            },
            error: function () {
                alert("Error occured..!!");
            },
        })
    }

    function getVal() {
        var selectedVal = document.getElementById("ddl_reportId").value;
         var formdata = new FormData();
        formdata.append("id", selectedVal);
        debugger;
        $.ajax({
            async: true,
            type: "Post",
            contentType: false,
            data: formdata,
            url: '/Home/getsign/',
            processData: false,
            contentType: false,
            success: function (data) {
                if (data.success == true) {
                    Swal.fire({
                        icon: 'success',
                        title: 'copy this url and use editor image ',
                        text: data.link,

                    });
                }
                else if (data.success == false) {
                    alert("Error occured..!!")
                }
            },
            error: function () {
                alert("Error occured..!!");
            },
        })
    }
</script>

