@model letterhead.Models.latterrvm
@{
    Layout = null;
    var datet = DateTime.Now.ToString("dd-MM-yyyy");
}

<!DOCTYPE html>
<html>

<head>
    <link href="~/Content/printpdf.css" rel="stylesheet" />
</head>

<body>
    <style>
        body {
          /*  font-family: Verdana, sans-serif;
            font-size: 12px;*/
          font-family:@Session["fname"].ToString();
          font-size:@Session["fsize"].ToString();
        }
    </style>
    <div class="maindiv">
        <div class="page-header" style="text-align: center">
            <h2><b><u>@Model.svptitle</u></b></h2>         
        </div>
        <div class="page-headernew">
            <p style=" display: flex; font-weight: bold; justify-content: space-between; padding: 0 48px; "><b>@Model.LATTERNOSerice</b><span>@(Session["datawise"]!=null? Session["datawise"].ToString():datet)</span></p>
            @*<p style=" display: flex; font-weight: bold; justify-content: space-between; padding: 0 48px; "><b>@Model.LATTERNOSerice</b><span>@datet</span></p>*@
        </div>
        <div class="tspace">
            <table>

                <thead>
                    <tr>
                        <td>
                            <!--place holder for the fixed-position header-->
                            <div class="page-header-space"></div>
                        </td>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>
                            <!--*** CONTENT GOES HERE ***-->
                            <div class="page">
                                @Html.Raw(Model.LatterData)
                            </div>
                        </td>
                    </tr>
                </tbody>

                <tfoot>
                    <tr>
                        <td>
                            <!--place holder for the fixed-position footer-->
                            <div class="page-footer-space"></div>
                        </td>
                    </tr>
                </tfoot>

            </table>
        </div>
        <div class="page-footer">
            <div style="text-align:center;">
                <hr style="text-align:center; width:80%">
                <p><b>Registered Office</b>- 14, Panchwati Colony, Ratanada, Jodhpur RJ 342001 IN</p>
                <p><b>CIN:</b>U45209RJ2021PTC076546, <b>Email Id</b>- cs@hginfra.com <b>Tel</b>-0291-2515327</p>
            </div>
        </div>
    </div>
    <script>

        window.print();
        window.onafterprint = function (event) {
            var url = '@Url.Action("RequestReceivedSPV", "Home")';
           window.location.href = url;
        };
    </script>
</body>

</html>


