@model IEnumerable<letterhead.Models.latterrvm>
@{
    ViewBag.Title = "RequestReceived";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 0;
}
<div class="modal fade" id="searchModal" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content" style="background: rgba(9, 30, 62, .7);">
            <div class="modal-header border-0">
                <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex align-items-center justify-content-center">
                <div class="input-group" style="max-width: 600px;">
                    <table id="myTable" class="table table-bordered" style="font-size:14px;color:wheat;">
                        <thead>
                            <tr>
                                <th>S.No</th>                               
                                <th>Remark</th>
                                <th>Action By</th>
                                <th>Action Date</th>
                            </tr>
                        </thead>
                        <tbody id="LogBody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="SendToBackModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex align-items-center justify-content-center">
                <div class="input-group">
                    <div class="card">
                        @using (Html.BeginForm("SendBack", "Home", FormMethod.Post, new { @class = "row g-3 needs-validation", @novalidate = "novalidate" }))
                        {
                            <input type="hidden" id="sbid" name="sbid" value=""/>
                            <div class="col-md-12">
                                <label for="validationCustom01" class="form-label">Comment <span style="color:red;">*</span></label>
                                <input class="form-control" type="text" name="sendback" id="sendback" placeholder="enter remark" required />
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary" type="submit">Submit</button>                               
                            </div>
                        }
                    </div>
                   
                    </div>
            </div>
        </div>
    </div>
</div>
<div class="pagetitle">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item active">Request Received List</li>
        </ol>
    </nav>
</div>
<section class="section dashboard">
    <div class="row">
        <div class="col-12">
            <div class="card recent-sales overflow-auto">
                <div class="filter" style="right:23px;">                                 
                    <a class="btn btn-danger" href="@Url.Action("Dashboard","Home")">Cancel</a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Request Received</h5>

                    <table class="table table-borderless datatable">
                        <thead>
                            <tr>
                                <th scope="col">S.No</th>
                                <th scope="col">Site Name</th>                              
                                <th scope="col">Letterhead No</th>
                                <th scope="col">Status</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                i = i + 1;
                                <tr>
                                    <th scope="row"><a href="#">@i</a></th>
                                    <td>@item.TITLE</td>                                   
                                    <td>@item.LATTERNOSerice</td>
                                    <td>@item.StatusData</td>
                                    <td>
                                        @if (item.StatusID == 1)
                                        {
                                            <a class="btn btn-outline-success" href="@Url.Action("ApproveData", "Home", new {@id=item.ID})">Approve</a>
                                            <span>|</span>
                                            <a class="btn btn-outline-warning" title="View" onclick="SendToBackfModal(this)" item-id="@item.ID" data-bs-toggle="modal" data-bs-target="#SendToBackModal">Send Back</a>
                                            <span>| </span>
                                            <a class="btn btn-outline-danger" href="@Url.Action("RejectRequest", "Home", new {@id=item.ID})">Reject</a>
                                            <span>|</span>
                                            <a class="btn btn-outline-success" title="Edit" href="@Url.Action("PerformaAprover", "Home", new {id=@item.ID,userid=item.UserId})">Edit & Approve</a>
                                            <span>|</span>
                                            <a title="Print & Download" href="@Url.Action("performaviewREQUEST", "Home", new {id=@item.ID})"> <i class="bi bi-printer"></i></a>
                                            <span>| </span>
                                            <a title="Log" onclick="getempattendance(this)" item-id="@item.ID" data-bs-toggle="modal" data-bs-target="#searchModal"> <i class="bi bi-ticket-detailed"></i></a>
                                        }
                                        else
                                        {
                                            <a title="Print & Download" href="@Url.Action("performaviewREQUEST", "Home", new {id=@item.ID})"> <i class="bi bi-printer"></i></a>
                                            <span>| </span>
                                            <a title="Log" onclick="getempattendance(this)" item-id="@item.ID" data-bs-toggle="modal" data-bs-target="#searchModal"> <i class="bi bi-ticket-detailed"></i></a>
                                        }

                                    </td>

                                </tr>
                            }

                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </div>
</section>

<div class="ibox-content" id="Printed" title="Print" style="display:none;">
    <p id="setno"></p>
</div>

@Html.Partial("_Alerts")

<script>     

    function SendToBackfModal(item) {
        debugger;
        var tid = $(item).attr('item-id')      
        document.getElementById("sbid").value = tid;
    }
    function getempattendance(item) {
        debugger;
        var tid = $(item).attr('item-id')
        var formdata = new FormData();
        formdata.append("id", tid);
        $.ajax({
            async: true,
            type: "Post",
            contentType: false,
            data: formdata,
            url: '/Home/GetEmployeeLog/',
            processData: false,
            contentType: false,
            success: function (data) {
                debugger;
                if (data.success) {
                    var logs = data.adata;
                    console.log(logs)
                    $('#LogBody').html('');
                    $(logs).each(function (i, item) {
                        $('#LogBody').append(`<tr>
                                <td>${i + 1}</td>                              
                                <td>${item.Remark}</td>
                                <td>${item.createbyname}</td>
                                <td>${item.createdates}</td>
                            </tr>`)
                    })
                }
            }
        })
    }


</script>

